body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffdeef;
}

.form-card {
    background-color: #ff80c1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(253, 238, 242, 0.1);
    text-align: center;
    max-width: 400px; 
}

.form-card h1 {
    color: #ffdeef;
    text-align: center;
}

.form-card form{
    color: #ffdeef;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.form-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.form-card button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffdeef;
    color: rgb(255, 113, 182);
    cursor: pointer;
}

.form-card button[type="submit"]:hover {
    background-color: #fff9fc;
}

input[type="radio"]:checked + .custom-radio {
    background-color: rgb(255, 180, 215);
}

input[type="radio"] {
    display: none;
}

.custom-radio {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #ffdeef;
    border-radius: 50%;
    margin-right: 10px;
}

.custom-radio::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #ffdeef;
    display: none;
}

input[type="radio"]:checked + .custom-radio::after {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ffdeef;
    border-radius: 5px;
    background-color: #ffdeef;
    color: rgb(255, 85, 164);
}